Backup Github.json
{
  "name": "Backup Github",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "d3dae084-041c-4bbb-80ab-d45d437d9a49",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -144,
        144
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {
          "activeWorkflows": true
        },
        "requestOptions": {}
      },
      "id": "8639bbdc-ed5e-44df-9225-1b3975a58113",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        352,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "gM4dpvr3V9GIoNVb",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "24016462-8377-48ac-ba16-dadb46fd46f2",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        192,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "https://github.com/pariflex1/n8n-backup",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup",
          "mode": "list",
          "cachedResultName": "n8n-backup",
          "cachedResultUrl": "https://github.com/pariflex1/n8n-backup"
        },
        "filePath": "="
      },
      "id": "018bb483-8eda-4a2b-bb55-f69267dbed8c",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        32,
        144
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "BONOOGzSxDnSOvmk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "https://github.com/pariflex1/n8n-backup",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-new",
          "mode": "list",
          "cachedResultName": "n8n-backup-new",
          "cachedResultUrl": "https://github.com/pariflex1/n8n-backup-new"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "9a473c77-d926-4b5d-a565-abecca1a85c9",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        64
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "BONOOGzSxDnSOvmk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "url",
          "value": "https://github.com/pariflex1/n8n-backup",
          "__regex": "https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-backup-new",
          "mode": "list",
          "cachedResultName": "n8n-backup-new",
          "cachedResultUrl": "https://github.com/pariflex1/n8n-backup-new"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "b9e36b3d-38ea-4909-b782-41241fc376f1",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        1152,
        224
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "BONOOGzSxDnSOvmk",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "2688cb94-903a-40e4-8c2c-bcb75d72d999",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        992,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "b5399cee-32b7-4a44-8e0a-89d561ea954e",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        512,
        144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "323f110f-9ca6-4950-8c88-8f78e5e1212c",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        672,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "1e95582c-5028-470e-a3d0-9c1b638d1447",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "b85b19c0-b9a7-45d1-9754-aae44bd108f7",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        832,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "fec30305-e406-4a74-8a1c-4159079033b4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "88b1e501-7732-46bc-98c3-7842e42b4c1b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        0
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "cf14d438-226f-4998-b28d-4184ab082546",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "837ed43bae39a762daedcbdbccbfcfa320fdb3e4e37862627fba69fd121c4398"
  },
  "id": "xqbIPaCJ0H3qQHc4BaBX0",
  "tags": [
    {
      "updatedAt": "2026-03-01T07:32:27.584Z",
      "createdAt": "2026-03-01T07:32:27.584Z",
      "id": "2EME4OVbx7pfnyD2",
      "name": "Active"
    }
  ]
}